/* GLOBAL */
:root {
    --black: #000;
    --prussian-blue: #023047;
    --dark-prussian-blue: #07283a;
    --selective-yellow: #ffb703;
    --ut-orange: #fb8500;
    --blue-green: #219ebc;
    --sky-blue: #8ecae6;
    --light-green: #008000;
    --white: #fff;
    --light-grey: #eee1e1;
    --grey: #808080;
    --pantone-red: #e63946;
    --hunter-green: #386641;
    --cambridge-blue: #7209b7;
    --persian-green: #00a896;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Open Sans', sans-serif;;
}
.free {
    color: var(--light-green);
}
.grey-text {
    color: var(--grey);
}
hr {
    width: 100%;
}
/* CONTAINER  */
.container {
    margin: 0 70px;
}

/* BUTTONS */

.btn {
    background-color: rgba(0,0,0,0);
    border: 1.5px solid var(--black);
    padding: 10px;
}
.btn-new-sale {
    border-radius: 3px;
    border: 2px solid;
    font-size: 17px;
    font-weight: 600;
    line-height: 25px;
    letter-spacing: 0.3px;
    padding: 12.5px;
    width: 99%;
}
.btn-ut-orange {
    background-color: rgba(0,0,0,0);
    border-color: var(--ut-orange);
    color: var(--ut-orange);
    margin-top: 40px;
    transition: 0.5s;
}
.btn-ut-orange:hover {
    background-color: var(--ut-orange);
    color: var(--white);
    cursor: pointer;
    transition: 0.5s;
}
.btn-prussion-blue {
    background-color: var(--prussian-blue);
    border-color: var(--prussian-blue);
    color: var(--white);
    margin-top: 5px;
    transition: 0.5s;
}
.btn-prussion-blue:hover {
    background-color: var(--dark-prussian-blue);
    color: var(--white);
    cursor: pointer;
    transition: 0.5s;
}

/* NAVIGATION */
.navigation {
    background-color: var(--prussian-blue);
}
.brand {
    display: inline-block;
}
.brand-title {
    color: var(--white);
    display: inline-block;
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
    line-height: 40px;
    letter-spacing: 0.2px;
    padding: 25px 0;
    transition: 0.4s;
}
a .brand-title:hover {
    text-shadow: 0px 2px 7px var(--persian-green);
    transition: 0.4s;
}
.navigation-list {
    display: inline-block;
    float: right;
    font-size: 20px;
}
.navigation-item a{
    text-decoration: none;
}
.navigation-items {
    color: var(--white);
    display: inline-block;
    height: 100%;
    padding: 31.5px 15px;
    list-style: none;
    transition: 0.5s;
}

/* SERIAS */

#iphone:hover {
    box-shadow: 0px 5px 5px var(--sky-blue);
    color: var(--sky-blue);
    transition: 0.5s;
}
#seria-s {
    padding:31.5px 35.5px;
}
#seria-s:hover {
    box-shadow: 0px 5px 5px var(--hunter-green);
    color: var(--hunter-green);
    transition: 0.5s;
}
#seria-m {
    padding:31.5px 35.5px;
}
#seria-m:hover {
    box-shadow: 0px 5px 5px var(--pantone-red);
    color: var(--pantone-red);
    transition: 0.5s;
}
#seria-a {
    padding:31.5px 35.5px;
}
#seria-a:hover {
    box-shadow: 0px 5px 5px var(--selective-yellow);
    color: var(--selective-yellow);
    transition: 0.5s;
}
#redmi {
    padding:31.5px 15px;
}
#redmi:hover {
    box-shadow: 0px 5px 5px var(--cambridge-blue);
    color: var(--cambridge-blue);
    transition: 0.5s;
}

.a-seria-text {
    color: var(--selective-yellow);
}

/* NEWS-SECTION */

.sale {
    margin: 20px 0;
    width: 100%;
}
.sale-phone:hover {
    box-shadow: 0 0 15px var(--black);
    cursor: pointer;
    transition: 0.3s;
}
.sale-phone {
    border: 2px solid var(--prussian-blue);
    border-radius: 2px;
    color: var(--black);
    padding: 15px;
    transition: 0.3s;
}
.phone-img {
    display: inline-block;
    width: 50%;
}
.phone-img img {
    width: 100%;
}
.phones-charasteristic {
    float: right;
    padding: 0 20px;
    width: 50%;
    height: 100%;
}
.phones-charasteristic:hover {
    cursor: default;
}
.phones-charasteristic__title {
    font-size: 35px;
    margin-bottom: 20px;
}
.delivery {
    font-size: 20px;
    margin: 20px 0;
}

/* FOOTER  */

.footer {
    background-color: var(--prussian-blue);
    height: 480px;
}
.telephone-number {
    display: inline-block;
    color: var(--white);
    font-size: 30px;
    font-weight: 300;
    padding: 10px;
}
.social-media {
    display: inline-block;  
}
.social-media a {
    text-decoration: none;
}
.social-media a svg {
    fill: var(--white);
    margin: 10px;
    transition: 0.4s;
}
.social-media a svg:hover {
    fill: var(--ut-orange);
    transition: 0.4s;
}
.telephone-text {
    float: right;
    width: 50%;
}
.telephone-text table {
    padding: 20px;
}
.telephone-text table:hover {
    cursor: default;
}
.telephone-text th {
    color: var(--white);
    font-size: 20px;
    padding: 5px 20px;
}
.telephone-text td {
    padding: 5px 20px;
    text-align: center;
}
.telephone-text td a:hover {
    color: var(--white);
    opacity: 95%;
    transition: 0.3s;
}
.telephone-text td a {
    color: var(--grey);
    font-size: 15px;
    text-decoration: none;
    transition: 0.3s;
}
.download {
    display: inline-block;
    align-items: center;
    width: 33%;
}
.download-pm {
}
.download-as {
    float: right;
    margin: 45px 48px 0 0;
}

.address {
    padding: 10px;
    width: 25%;
}
.address-text {
    color: var(--grey   );
    font-size: 20px;
}

.about-brand {
    float: right;
    width: 40%;
    padding: 40px 20px; 
}
.about-brand__text {
    color: var(--grey);
    display: inline;
    font-size: 18px;
}

/* NEWS  */
.news__title {
    font-size: 45px;
    padding: 20px;
    text-align: center;
}
.news a {
    color: var(--black);
    text-decoration: none;
}
.news-phones {
    border: 2px solid var(--prussian-blue);
    border-radius: 10px;
    display: inline-block;
    margin: 15px 5px;
    transition: 0.3s;
    width: 32%;
}
.news-phones__title {
    padding: 15px;
}
.news-phones__text {
    color: var(--grey);
    padding: 15px;
}
.news-phones:hover {
    box-shadow: 0 0 15px var(--black);
    transition: 0.3s;
}

.news-phones__img {
    border-radius: 10px;
    width: 80%;
    margin:auto;
}
.i14pm {
    width: 73.3%;
}

/* ACCESSORIES */

.accessories__title {
    font-size: 45px;
    padding: 20px;
    text-align: center;
}

.accessorie__img {
    display: inline-block;
    width: 70%;
    height: 70%;
    margin: 0 30px;
}
.accessories a {
    border: 2px solid var(--prussian-blue);
    border-radius: 10px;
    color: var(--black);
    display: inline-block;
    margin: 10px;
    text-decoration: none;
    padding: 10px;
    width: 18%;
    transition: 0.3s;
}
.accessories a:hover {
    box-shadow: 0 0 15px var(--black);
    transition: 0.3s;
}
.bigger__img {
    margin: 0 50px;
    width: 45%;
}

.arrow-link {
    align-items: center;
    float: right;
    position: relative;
    bottom: 180px;
    left: 30px;
}
.arrow-link svg:hover {
    box-shadow: 0 0 15px var(--black);
    transition: 0.3s;
}
.arrow-link svg {
    background-color: var(--light-grey);
    border-radius: 50%;
    padding: 15px;
    transition: 0.3s;
}