/* GLOBAL */
:root {
    --black: #000;
    --prussian-blue: #023047;
    --dark-prussian-blue: #07283a;
    --selective-yellow: #ffb703;
    --ut-orange: #fb8500;
    --blue-green: #219ebc;
    --sky-blue: #8ecae6;
    --light-green: #008000;
    --white: #fff;
    --light-grey: #eee1e1;
    --grey: #808080;
    --pantone-red: #e63946;
    --hunter-green: #386641;
    --cambridge-blue: #7209b7;
    --persian-green: #00a896;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Open Sans', sans-serif;
}
.free {
    color: var(--light-green);
}
.grey-text {
    color: var(--grey);
}
hr {
    width: 100%;
}
header {
    width: 100%;
    top: 0;
    left: auto;
    right: 0;
    position: fixed;
}



/* CONTAINER  */
.container {
    margin: 0 70px;
}

/* BUTTONS */

.btn {
    background-color: rgba(0,0,0,0);
    border: 1.5px solid var(--black);
    padding: 10px;
}
.btn-new-sale {
    border-radius: 3px;
    border: 2px solid;
    font-size: 17px;
    font-weight: 600;
    line-height: 25px;
    letter-spacing: 0.3px;
    padding: 12.5px;
    width: 99%;
}
.btn-ut-orange {
    background-color: rgba(0,0,0,0);
    border-color: var(--ut-orange);
    color: var(--ut-orange);
    margin-top: 40px;
    transition: 0.5s;
}
.btn-ut-orange:hover {
    background-color: var(--ut-orange);
    color: var(--white);
    cursor: pointer;
    transition: 0.5s;
}
.btn-prussion-blue {
    background-color: var(--prussian-blue);
    border-color: var(--prussian-blue);
    color: var(--white);
    margin-top: 5px;
    transition: 0.5s;
}
.btn-prussion-blue:hover {
    background-color: var(--dark-prussian-blue);
    color: var(--white);
    cursor: pointer;
    transition: 0.5s;
}

/* NAVIGATION */
.navigation {
    background-color: var(--prussian-blue);    
}
.brand {
    display: inline-block;
}
.brand-title {
    color: var(--white);
    display: inline-block;
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
    line-height: 40px;
    letter-spacing: 0.2px;
    padding: 25px 0;
    transition: 0.4s;
}
a .brand-title:hover {
    text-shadow: 0px 2px 7px var(--persian-green);
    transition: 0.4s;
}
.navigation-list {
    display: inline-block;
    float: right;
    font-size: 20px;
}
.navigation-item a{
    text-decoration: none;
}
.navigation-items {
    color: var(--white);
    display: inline-block;
    height: 100%;
    padding: 31.5px 15px;
    list-style: none;
    transition: 0.5s;
}

/* SERIAS */

#iphone:hover {
    box-shadow: 0px 5px 5px var(--sky-blue);
    color: var(--sky-blue);
    transition: 0.5s;
}
#seria-s {
    padding:31.5px 35.5px;
}
#seria-s:hover {
    box-shadow: 0px 5px 5px var(--hunter-green);
    color: var(--hunter-green);
    transition: 0.5s;
}
#seria-m {
    padding:31.5px 35.5px;
}
#seria-m:hover {
    box-shadow: 0px 5px 5px var(--pantone-red);
    color: var(--pantone-red);
    transition: 0.5s;
}
#seria-a {
    padding:31.5px 35.5px;
}
#seria-a:hover {
    box-shadow: 0px 5px 5px var(--selective-yellow);
    color: var(--selective-yellow);
    transition: 0.5s;
}
#redmi {
    padding:31.5px 15px;
}
#redmi:hover {
    box-shadow: 0px 5px 5px var(--cambridge-blue);
    color: var(--cambridge-blue);
    transition: 0.5s;
}

.a-seria-text {
    color: var(--selective-yellow);
}

/* NEWS-SECTION */

.sale {
    margin-top: 110px;
    margin-bottom: 20px;
    width: 100%;
}

.sale-phone {
    background-color: var(--white);
    border: 2px solid var(--prussian-blue);
    border-radius: 10px;
    color: var(--black);
    padding: 15px;
    transition: 0.3s;
}
.phone-img {
    display: inline-block;
    width: 50%;
}
.phone-img img {
    display: block;
    margin-right: auto;
    margin-left: auto;
    width: 100%;
}
.phones-charasteristic {
    float: right;
    padding: 0 20px;
    width: 50%;
    height: 100%;
}
.phones-charasteristic:hover {
    cursor: default;
}
.phones-charasteristic__title {
    font-size: 35px;
    margin-bottom: 20px;
}
.delivery {
    font-size: 20px;
    margin: 20px 0;
}

/* FOOTER  */

.footer {
    background-color: var(--prussian-blue);
}
.telephone-number {
    display: inline-block;
    color: var(--white);
    font-size: 30px;
    font-weight: 300;
    padding: 10px;
}
.social-media {
    display: inline-block;  
}
.social-media a {
    text-decoration: none;
}
.social-media a svg {
    fill: var(--white);
    margin: 10px;
    transition: 0.4s;
}
.social-media a svg:hover {
    fill: var(--ut-orange);
    transition: 0.4s;
}
.telephone-text {
    float: right;
    width: 50%;
}
.telephone-text table {
    padding: 20px;
}
.telephone-text table:hover {
    cursor: default;
}
.telephone-text th {
    color: var(--white);
    font-size: 20px;
    padding: 5px 20px;
}
.telephone-text td {
    padding: 5px 20px;
    text-align: center;
}
.telephone-text td a:hover {
    color: var(--white);
    opacity: 95%;
    transition: 0.3s;
}
.telephone-text td a {
    color: var(--grey);
    font-size: 15px;
    text-decoration: none;
    transition: 0.3s;
}
.download {
    display: inline-block;
    align-items: center;
    width: 33%;
}
.download-as {
    float: right;
    margin: 45px 48px 0 0;
}

.address {
    padding: 10px;
    width: 25%;
}
.address-text {
    color: var(--grey   );
    font-size: 20px;
}

.about-brand {
    float: right;
    width: 40%;
    padding: 40px 20px; 
}
.about-brand__text {
    color: var(--grey);
    display: inline;
    font-size: 18px;
}

/* NEWS  */
.news {
    text-decoration: none;
    margin-top: 120px;
    margin-bottom: 50px;
}
.news__title {
    font-size: 45px;
    padding: 20px;
    text-align: center;
}
.news a {
    background-color: var(--white);
    color: var(--black);
    margin: 0 6.5px;
    text-decoration: none;
}
.news-phones {
    background-color: var(--white);
    border: 2px solid var(--prussian-blue);
    border-radius: 10px;
    display: inline-block;
    margin: 15px 0;
    transition: 0.3s;
    text-decoration: none;
    width: 30%;
}
.news-phones__title {
    padding: 15px;
}
.news-phones__text {
    color: var(--grey);
    padding: 15px;
}
.news-phones:hover {
    box-shadow: 0 0 15px var(--black);
    transition: 0.3s;
}

.news-phones__img {
    border-radius: 10px;
    display: block;
    margin-right: auto;
    margin-left: auto;
}
.i14pm {
    width: 73.3%;
}


/* SERIAS-FILES */



.serias-section {
    margin-top: 100px;
}
.serias-section__title {
    font-size: 45px;
    margin: 25px 0;
    text-align: center;
}
.seria-of-phone {
    background-color: var(--white);
    border: 2px solid var(--black);
    border-radius: 10px;
    margin: auto;
    text-decoration: none;
    width: 70%;
}
.seria-of-phone:not(:first-child) {
    margin-top: 55px;
}
.seria-of-phone__img {
    border-radius: 10px;
    display: block;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-right: auto;
    margin-left: auto;
}
.seria-of-phone__title {
    color: var(--black);
    font-size: 40px;
    text-align: center;
    text-decoration: none;
}
.seria-of-phone__title a {
    color: var(--black);
    text-decoration: none;
    transition: 0.3s;
}
.seria-of-phone__title a:hover {
    text-shadow: 2px 0px 5px var(--black);
    transition: 0.3s;
}
.seria-of-phone__text {
    font-size: 18px;
    margin: 15px;
    text-align: center;
    text-decoration: none;
}
.seria-of-phone:last-child {
    margin-bottom: 60px;
}
#no-padding-img {
    padding: 30px;
}


/* SPANS  */

.iphone-seria {
    color: var(--sky-blue);
}
.seria-s {
    color: var(--hunter-green);
}
.seria-m {
    color: var(--pantone-red);
}
.seria-redmi {
    color: var(--cambridge-blue);
}

/* FOR-SCREENS */

@media (max-width: 767px) {
    /* NAVIGATION-MENU */
    .brand-title {
        font-size: 20px;
        padding-top: auto;
        padding-bottom: auto;
        margin-left: 20px;
    }
    .navigation-list {
        float: right;
        font-size: 15px;
        height: 100%;
    }
    .navigation-items {
        padding-top: auto;
        padding-bottom: auto;
    }
    .container {
        margin: 0;
    }
    #iphone:hover {
        box-shadow: none;
    }
    #seria-s {
        padding: 36px 5px;
    }
    #seria-s:hover {
        box-shadow: none;
    }
    #seria-m {
        padding: 36px 5px;
    }
    #seria-m:hover {
        
        box-shadow: none;
    }
    #seria-a {
        padding: 36px 5px;
    }
    #seria-a:hover {
        
        box-shadow: none;
    }
    #redmi {
        padding: 36px 5px;
    }
    #redmi:hover {
        
        box-shadow: none;
    }

    /* HERO */
    .news {
        margin-top: 90px;
    }
    .news-phones {
        width: 97%;
    }
    .news-phones__title, .news-phones__text {
        text-align: center;
    }
    .seria-of-phone {
        width: 97%;
    }
    .seria-of-phone__title {
        padding: 0 5px;
    }
    /* PHONE-SALE  */
    .sale {
        width: 98%;
        margin-right: 5px;
        margin-left: 5px;
    }
    .phone-img {
        display: block;
        width: 100%;
    }
    .phones-charasteristic {
        float: none;
        width: 100%;
    }
    /* FOOTER  */

    .footer {
        height: 100%;
    }
    .telephone-text {
        display: none;
    }
    .telephone {
        display: inline-block;
    }
    .telephone-number {
        display: inline-block;
        font-size: 20px;
        width: auto;
    }
    .social-media {
        float: right;
    }
    svg {
        width: 25px;
        height: 25px;
        margin: 5px;
    }
    .download {
        width: 100%;
        margin-right: auto;
        margin-left: auto;
    }
    .download-as {
        float: none;
        margin: 45px 48px;
        justify-content: center;
    }
    .about-brand {
        float: none;
        padding: 20px;
        width: 100%;
    }
    .address {
        width: 100%;
    }

}
@media (min-width: 768px) and (max-width: 1024px) {
    /* NAVIGATION-MENU */
    .brand-title {
        font-size: 40px;
        padding-top: auto;
        padding-bottom: auto;
        margin-left: 20px;
    }
    .navigation-list {
        float: right;
        font-size: 20px;
        height: 100%;
    }
    .navigation-items {
        padding-top: auto;
        padding-bottom: auto;
    }
    .container {
        margin: 0;
    }
    #iphone:hover {
        box-shadow: none;
    }
    #seria-s {
        padding: 23px 15px;
    }
    #seria-s:hover {
        box-shadow: none;
    }
    #seria-m {
        padding: 23px 15px;
    }
    #seria-m:hover {
        
        box-shadow: none;
    }
    #seria-a {
        padding: 23px 15px;
    }
    #seria-a:hover {
        
        box-shadow: none;
    }
    #redmi {
        padding: 23px 15px;
    }
    #redmi:hover {
        
        box-shadow: none;
    }

    /* HERO */
    .news {
        margin-top: 90px;
    }
    .news-phones {
        width: 97%;
    }
    .news-phones__title, .news-phones__text {
        text-align: center;
    }
    .seria-of-phone {
        width: 97%;
    }
    .seria-of-phone__title {
        padding: 0 5px;
    }
    /* FOOTER  */

    .footer {
        height: 100%;
    }
    .telephone-text {
        display: none;
    }
    .telephone {
        display: inline-block;
    }
    .telephone-number {
        display: inline-block;
        font-size: 30px;
        width: auto;
    }
    .social-media {
        float: right;
    }
    svg {
        width: 30px;
        height: 30px;
        margin: 5px;
    }
    .download {
        width: 100%;
        margin-right: auto;
        margin-left: auto;
    }
    .download-as {
        float: none;
        margin: 45px 48px;
        justify-content: center;
    }
    .about-brand {
        float: none;
        padding: 20px;
        width: 100%;
    }
    .address {
        width: 100%;
    }   
}